html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #081818;
  color: #C2C6C8;
  /* font-size: 110%; */
  margin-left: 3%;
  margin-right: 3%;
  text-shadow: 1px 1px #081818;
}

p {
  font-size: 100%;
  padding: 4px;
  background-color: #32273f;
  text-decoration: #60666B;
  text-indent: 20px;
}

h1, h2, h3, h4, h5 {
  padding: 10px;
  font-size: 120%;
  color: rgb(11, 172, 172);
  text-shadow: 1px 1px #081818;
  /* text-align: center; */
}

h1 {
  color: rgb(32, 209, 135);
  font-size: 200%;
}

h6 {
  margin-bottom: 4px;
}

li {
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: rgba(255, 255, 255, 0.863);
  display: inline-block;
}

ul {
  margin-bottom: 10px;
}

.links li {
  padding: 6px;
  outline-style: dotted;
  background-color: black;
  display: inline-block;
  margin-right: 5px;
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

img {
  size: 100px;
}

div#profile-pic img {
  border: 2px inset #C2C6C8;
}

a {
  color: teal;
}

em {
  font-style: italic;
}

#padding1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile_name h1 {
  clear: both;
}
