html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

body {
  padding: 3%;
  background-color: #424242;
  color: #C2C6C8;
  /* font-size: 110%; */
  margin-left: 5%;
  margin-right: 5%;
  text-shadow: 1px 1px #081818;
}

p {
  font-size: 100%;
  padding: 8px;
  background-color: #17121d;
  text-decoration: #858686;
  text-indent: 20px;
  text-shadow: 1px 1px #081818;
}

h1, h2, h3, h4, h5 {
  padding: 10px;
  font-size: 120%;
  color: rgb(0, 255, 255);
  text-shadow: 1px 1px #081818;
  /* text-align: center; */
}

h1 {
  color:rgb(59, 177, 255);
  font-size: 200%;
}

h6 {
  margin-bottom: 4px;
}

li {
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
  font-size: 125%;
  font-style: initial;
  background-color: rgb(53, 90, 114);
}

.tab {
  display: inline-block;
  overflow: hidden;
  border: 2px outset #C2C6C8;
  background-color: rgb(70, 122, 156);
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: rgb(11, 172, 172);
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  /* border-top: none; */
}

ul {
  margin-bottom: 10px;
}

.links li {
  padding: 6px;
  outline-style: ridge;
  background-color: black;
  display: inline-block;
  margin-right: 5px;
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

img {
  size: 100px;
}

div#profile-pic img {
  border: 2px inset #C2C6C8;
}

a {
  color: rgb(0, 251, 126);
}

em {
  font-style: italic;
}

#padding1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile_name h1 {
  clear: both;
}
